.home-page {
    height: 90vh;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.home-content h1 {
    color: white;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    gap: 104rem;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

.home-content h1 .first-half {
    color: #ff288b;
}

.home-content h1 .second-half {
    color: #fff236;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        gap: 1rem;
    }
}

.home-content p {
    color: white;
    font-size: 6rem;
    text-align: center;
}