* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 85rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#tsparticles {
  position: absolute;
  z-index: -1;
}

#page {
  height: 100vh;
}

.page-heading {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
  color: white;
}