* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #fdf6e3;
}

.container {
  max-width: 85rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.page-heading {
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
}