* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 85rem;
  margin: 0 auto;
  /* border: red 1px solid; */
}

a {
  text-decoration: none;
}

.page-heading {
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 1rem 0;
}